.value {
    margin-top: 5rem;
    header {
      & > p {
        color: var(--secondary-600);
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 1rem;
      }
      & > h2 {
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        color: var(--primary-500);
      }
      .header__text {
        color: var(--gray-500);
        font-weight: 400;
          word-spacing: .3rem;
      }
    }
    section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem;
   margin-bottom: 5rem;
      .value__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 28rem;
          margin-top: 3rem;
          .value__icon {
            align-self: center;
            text-align: center;
            border-radius: 50%;
            background: var(--primary-50);
            height: 3rem;
            width: 3rem;
            .icon {
              color: var(--primary-500);
              font-size: 2rem;
              position: relative;
              top: 14%;
              left: 16%;
              transform: scale(.9);
            }
          }
          .value__h1 {
            color: var(--primary-500);
            font-weight: 500;
            font-size: 17px;
            margin-top: 1rem;
          }
          .value__p{
              color: var(--gray-500);
          }
        }
    }
   
  }