.contact {
  margin: 5% auto;
  height: auto;
  width: 60vw;
  // background: #dddddd;
  header {
    margin-top: 2rem;
    text-align: center;

    h1 {
      color: var(--primary-500);
      font-family: var(--primary-font);
      font-weight: 700;
      font-size: 2rem;
      line-height: 6px;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--gray-500);
      margin-bottom: 4rem;
    }
  }
  .contact__content-section {
    background: white;
    height: auto;
    padding: 4% 3%;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    .section__one {
      h2 {
        font-weight: 500;
        color: var(--gray-700);
        font-size: 1.3rem;
      }
      form {
        .input__container {
          display: grid;
          label {
            font-weight: 400;
            font-size: 10px;
            line-height: 20px;
            color: var(--gray-900);
            margin-bottom: 0.3rem;
            margin-top: 0.8rem;
          }
          input {
            padding-left: 0.5rem;
            height: 3.2rem;
            border: 1px solid var(--primary-50);
            border-radius: 4px;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #999999;
              font-size: 10px;
            }
          }
          textarea {
            resize: none;
            // border: 1px solid var(--primary-50);
            font-family: var(--primary-font);
            padding: 0.5rem 0.5rem;
            background: rgba(233, 237, 240, 0.2);
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #999999;
              font-size: 10px;
              font-weight: 400;
            }
          }
        }
        button {
          margin-top: 0.8rem;
          width: 100%;
          height: 40px;
          border-radius: 4px;
          border: none;
          background: var(--primary-50);
          font-weight: 500;
          font-size: 12px;
          color: #9eb3bc;
        }
      }
    }
    .section__two {
      margin-top: 2rem;
      .address__section {
        display: grid;
        .address,
        .contact__details {
          display: flex;
          justify-content: left;
          align-items: center;
          p {
            margin-left: 0.3rem;
          }
        }
      }
      .socials {
        h3 {
          color: var(--gray-900);
          font-weight: 700;
          font-size: 2rem;
          margin-bottom: 3rem;
          margin-top: 2rem;
        }
        .icons {
          display: flex;
          gap: 1rem;
          align-items: left;
          font-size: 2rem;

          .icon__container {
            background: var(--primary-500);
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin-top: -1.5rem;
            transform: scale(0.8);
            .icon {
              color: white;
              text-align: center;
              justify-content: center;
              position: relative;
              top: 0.5rem;
              left: 0.5rem;
              // font-size: 1rem;
            }
          }
        }
      }
      .map {
        margin-top: 3rem;
        width: 25rem;
        height: 20rem;
      }
    }
  }
}

/* On tablet screens 1024px or less */
@media screen and (max-width: 1024px) {
  .contact {
    width: 65vw;
    padding: 5% 4%;
    margin: auto;
    max-width: 65vw;
  }
}

/* On tablet screens 900px or less */
@media screen and (max-width: 900px) {
  .contact {
    width: 65vw;
    padding: 5% 4%;
    margin: auto;
  }
}

/* On mobile screens 600px or less */
@media screen and (max-width: 600px) {
  .contact {
    padding: 0;
    margin: 5% 0;
    header {
      margin: 0 26%;
      width: 100%;

      h1 {
        text-align: center;
      }
    }
    .contact__content-section {
      width: 100vw;

      .section__one {
        form {
          .input__container {
            input {
              border: none;
              background: rgba(233, 237, 240, 0.2);
            }
          }
        }
      }
    }
  }
}
