ansible==6.5.0
ansible-core==2.13.5
anyio==3.5.0
argcomplete==2.0.0
asgiref==3.5.2
bcrypt==3.2.0
boto3==1.24.10
botocore==1.27.10
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==36.0.2
distlib==0.3.5
Django==4.1.2
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.1.3
fastapi==0.75.1
filelock==3.8.0
Flask==2.2.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httptools==0.2.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.0
MarkupSafe==2.1.1
orjson==3.6.7
packaging==21.3
passlib==1.7.4
pipx==1.1.0
platformdirs==2.5.2
psycopg2-binary==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.27.1
resolvelib==0.8.1
rsa==4.8
s3transfer==0.6.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.0
sqlparse==0.4.3
starlette==0.17.1
typing_extensions==4.1.1
tzdata==2022.5
ujson==4.3.0
urllib3==1.26.9
userpath==1.8.0
uvicorn==0.15.0
virtualenv==20.16.3
watchgod==0.8.2
websockets==10.2
Werkzeug==2.2.2
agora-token-builder==1.0.0
websocket==0.2.1