@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;700&family=Poppins:wght@400;500;700&family=Red+Rose:wght@400;700&family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

.faq__container {
    /* padding: 6.7rem 9.3rem; */
    scroll-behavior: smooth;
    margin-top: 4rem;
}

.faq__help-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 5rem 5rem;
    width: 100%;
    margin: 0 0 15px;
    background: rgba(14, 138, 203, 0.04);
}

.faq__help-center .faq__help-center__text {
    flex-basis: 50%;
}

.faq__help-center input {
    background: none;

}

.faq__help-center .faq__help-center__text h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: black;
    margin: 0 0 30px;
}

.faq__help-center .faq__help-center__text p {
    font-size: 20px;
}

.faq__help-center__img {
    margin: 0 2rem 0 0;
}

.faq__help-center__img img {
    height: 25rem;
    width: 25rem;
    border-radius: 4px;
}

.faq__p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #575757;
}

.faq__form-question {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.faq__form-question2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq__form__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: black;
    margin: 0 0 29px;
}

.form2 {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 7px 5px 10px;
}

.faq__form-question form input {
    outline: none;
    width: 270px;
}

.faq__form-question form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 65, 65);
}

#btn {
    padding: 10px 32px;
    background: #000;
}

/* .hr {
    border-top: 0.5px solid #307091;
    margin: 0 0 59px;
    max-width: 1000px;
} */

.faq__section2 {
    text-align: left;
    padding: 0 5rem 0 5rem;
    margin: 10rem 100px;
}

.faq__section2 h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 32px;
    color: black;
    margin: 3rem 0 1.5rem 0;
}

.faq__section2 p {
    width: 85%;
    margin: 0 0 79px;
}

.faq__hr {
    margin-bottom: 40px;
}

.faq__questions-answer-section {
    padding: 0 1rem;
}

.faq__questions-answer-section p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 0 0 30px;
}

.faq__questions-answer-section p span {
    font-size: 47px;
    cursor: pointer;
    font-weight: 300;
}

.faq__questions-answer-section .faq__border-bottom {
    margin: auto;
    max-width: 94%;
    border-top: 1px solid rgb(163, 163, 163);
    margin-bottom: 20px;
    margin-top: 10px;
}

.download {
    padding: 1.5rem;
}

.faq__download-app h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    color: #204E65;
    margin: 0 0 24px;
}

@media screen and (max-width: 1100px) {
    .faq__help-center__img {
        margin: 0;
    }

}

@media screen and (max-width: 1000px) {
    .faq__section2 {
        text-align: left;
        padding: 0 6rem 0 5rem;
        margin: 0 0 100px;
    }

}

@media screen and (max-width: 939px) {
    .faq__help-center {
        flex-direction: column;
    }

    .faq__help-center__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/* @media screen and (max-width: 900px){
    .faq__container {
        scroll-behavior: smooth;
    }

    .faq__section2 {
        text-align: left;
        padding: 0 4.5rem 0 4.5rem;
        margin: 0 0 100px;
    }

} */
/* @media screen and (max-width: 800px){

    .faq__section2 {
        text-align: left;
        padding: 0 3.3rem 0 1.3rem;
        margin: 0 0 100px;
    }
    .faq__help-center .faq__help-center__text h1{
        line-height: 65px;
    }

} */
@media screen and (max-width: 670px) {
    .faq__section2 {
        padding: 0 1.5rem;
    }

}

@media screen and (max-width: 550px) {
    .faq__help-center {
        padding: 5rem 1rem;
    }
    .faq__section2 p {
        width: 100%;
    }

}
@media screen and (max-width: 484px) {
    .download h2 {
        font-size: 25px;
    }
    .download h3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 470px) {
    .faq__help-center .faq__help-center__text h1 {
        font-size: 2.6rem;
    }
    .faq__help-center .faq__help-center__text p {
        font-size: 1rem;
    }
    .faq__section2 h2 {
        font-size: 2.4rem;
    }
    .faq__section2 p {
        width: 100%;
        font-size: .9rem;
    }

}

@media screen and (max-width: 400px) {
    
    .faq__help-center__img img {
        height: 20rem;
    }
    .faq__section2 h2 {
        font-size: 2.2rem;
    }
    .faq__section2 p {
        font-size: .8rem;
    }
    .download h2 {
        font-size: 20px;
    }
    .download h3 {
        font-size: 14px;
    }
    .faq__form-question form input {
        width: auto;
    }
    .download__padding {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 336px) {
    .download h2 {
        font-size: 18px;
    }
    .download h3 {
        font-size: 13px;
    }
}

